<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask 简易应用</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .link {
            display: block;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>wsssws个人用的三国杀面杀辅助软件</h1>
        <p>点击下面的链接以使用相应功能</p>
        <a href="./shichangshi/" class="link">十常侍</a>
<!--        <a href="https://www.anotherexample.com" class="link">点击这里访问 Another Example 网站</a>-->
    </div>
</body>
</html>
